


.navbar-ac{
    font-weight:400;
    
    .navbar-ac-container{
        display:flex;
        justify-content:space-between;
        align-items: center;
        height: 70px;
        padding: 0 3em;
        border-bottom:1px solid lightgray;
        width: 100%;
        z-index:10;
        background:#fff;
        
        .navbar-ac-logo{

            border-right:1px solid lightgray;
            display:inline-block;
            height:70px;
            padding-top:10px;
            .nav-logo{       
                height:50px;
                margin-right: 15px;

            }
        }
        .nav-ac-left{
            border-right:1px solid lightgray;
            padding-right: 15px;
        }
        .navbar-ac-search{
            float:right;

            > div {
                border:1px solid lightgray;
                border-radius: 50px;
                padding:7px;
                margin-top:15px;
                margin-left:15px;
                svg{
                    color:lightgray
                }
                input {
                    border:none;
                    outline:none;
                    float: right;
                    padding:5px 10px 0 7px;

                }
            }
            

        }

        .navbar--menu{
            display:flex;
            align-items:center;
            margin:0;
            font-size:15px;
            a{
                height:70px;
                margin-right:1em;
                padding:0 .7em;
                padding-top:7px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom:3px solid transparent;

                &:hover{
                 color:#333 
                }

                &.active{
                    border-bottom:3px solid #1227f8;
                    //widows: 100px;
                    text-align:center;
                    color:#1227f8;

                    a,svg{
                        color:#1227f8;
                    }
                }
                svg{
                    display: inline-block;
                    float: left;
                    color:gray;
                }
                p,a{
                    display:inline-block;
                }

                p{
                    margin-left:5px;
                }
            }
        }

        .navbar-ac-menu{
            display:flex;
            align-items:center;
            font-size:15px;
            margin:0;
            svg{
                font-size:27px;
                margin-top:7px;
            }


            .navbar-ac-item {
                float:left;
                margin-right:15px;
                position: relative;
                span{
                    position: absolute;
                    font-size:12px;
                    background:#ff0000;
                    color:#fff;
                    padding:3px;
                    border-radius:5px;
                    //right:-10px;
                    left:15px;
                    top:0px;
                }
            }
            svg{
                fill:#eee;
                color:#1227f8
            }
       
            li:last-child a{
                display:flex;
                align-items: center;
                margin-left:1em;
                img {
                    margin-right:10px;
                    margin-left:10px;
                }
            }

            .sub-menu{
                position:absolute;
                right:-160px;
                top:52px;
                width: 350px;
                border:1px solid lightgray;
                background:#fff;
                padding:10px;
                min-height:100px;
                z-index:1;

                li {

                }
            }

         
        }

        .navbar-avatar{
            border-radius:50%;
            width: 50px;
            height: 50px;
        }


        .navbar-ac-burger, .navbar-ac-mobile{
            display:none;
        }

        svg{
            font-size:21px;
        }

    }
}

