
/** Security Tab **/

.security-tab{

  ul{

    background: #fff;
    border-radius: 10px;
    padding:0!important;
    margin-top:1em;
    border:1px solid lightgray!important;
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding:1em;
      border-bottom: 1px solid lightgray;
      &:last-child{
        border-bottom: none;
      }
      p{
        color:gray;
        font-size:14px;

      }
      a{
        color:dodgerblue;
      }
    }
  }

}
